<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgreementMapper">
	<sql id="commonColumns">select id,credit_id,user_id,agree_type,agree_img,sign_time,sign_status  </sql>

	<resultMap type="agreement" id="userResultMap">
		<id column="id" property="id"/>
		<result column="credit_id" property="creditId"/>
		<result column="user_id" property="userId"/>
		<result column="agree_type" property="agreeType"/>
		<result column="agree_img" property="agreeImg"/>
		<result column="sign_time" property="signTime"/>
		<result column="sign_status" property="signStatus"/>
	</resultMap>
	
	    <!-- 根据id获取信息 -->
	<select id="findById" parameterType="PageData" resultType="agreement" useCache="false">
	   <include refid="commonColumns"></include>
		from cr_agreement 
		where id = #{id}
	</select>
	
   <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_agreement u
		where 1=1
		<if test="agreeType != null and agreeType != ''">
			and u.agree_type = #{agreeType}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="Blog">
	   <include refid="commonColumns"></include>
		from cr_agreement u
		where 1=1
		<if test="agreeType != null and agreeType != ''">
			and u.agree_type = #{agreeType}
		</if>
		<if test="creditId != null and creditId != ''">
			and u.credit_id = #{creditId}
		</if>
		<if test="userId != null and userId != ''">
			and u.user_id = #{userId}
		</if>
		<if test="signStatus != null and signStatus != ''">
			and u.sign_status = #{signStatus}
		</if>
		order by u.id asc
	</select>
	<insert id="saveAgreeInfo" parameterType="agreement">
		insert into cr_agreement (
			credit_id,
			user_id,
			agree_type,
			agree_img ,
			sign_time,
			sign_status
		) values (
			#{creditId},
			#{userId},
			#{agreeType},
			#{agreeImg},
			#{signTime},
			#{signStatus}
		)
	</insert>
	<update id="updateAgree" parameterType="agreement">
		update cr_agreement set 
		credit_id = #{creditId},
		user_id = #{userId},
		agree_type = #{agreeType},
		agree_img = #{agreeImg},
		sign_time = #{signTime},
		sign_status = #{signStatus}
		where id = #{id}
	</update>
	<update id="updateAgreeStatus" parameterType="agreement">
		update cr_agreement set sign_status = #{signStatus} where credit_id = #{creditId} and user_id = #{userId} and agree_type = #{agreeType}
	</update>
	
	<delete id="deleteById" parameterType="Integer">
		delete from cr_agreement where id = #{id}
	</delete>
	
	<delete id="deleteByCreditId" parameterType="agreement">
		delete from cr_agreement where credit_id = #{creditId} and agree_type = #{agreeType} and user_id = #{userId}
	</delete>
	
</mapper>