<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">
	<sql id="userColumns">id,blog_type,blog_title,blog_context,create_time</sql>

	<resultMap type="User" id="userResultMap">
		<id column="id" property="id"/>
		<result column="blog_type" property="blogType"/>
		<result column="blog_title" property="blogTitle"/>
		<result column="blog_context" property="blogContext"/>
		<result column="nickname" property="nickname"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	
	
</mapper>