<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">
	<sql id="commonColumns">select id,blog_type,blog_title,blog_context,create_time,blog_source,blog_author </sql>

	<resultMap type="Blog" id="userResultMap">
		<id column="id" property="id"/>
		<result column="blog_type" property="blogType"/>
		<result column="blog_title" property="blogTitle"/>
		<result column="blog_context" property="blogContext"/>
		<result column="nickname" property="nickname"/>
		<result column="create_time" property="createTime"/>
		<result column="blog_source" property="blogSource"/>
		<result column="blog_author" property="blogAuthor"/>
	</resultMap>
	
	    <!-- 根据id获取债权信息 -->
	<select id="findById" parameterType="PageData" resultType="Blog" useCache="false">
	   <include refid="commonColumns"></include>
		from cr_blog 
		where id = #{id}
	</select>
	
	
   <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_blog u
		where 1=1
		<if test="blogType != null and blogType != ''">
			and u.blog_type = #{blogType}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="Blog">
	   <include refid="commonColumns"></include>
		from cr_blog u
		where 1=1
		<if test="blogType != null and blogType != ''">
			and u.blog_type = #{blogType}
		</if>
		limit #{from},#{size}
	</select>
	
	
</mapper>