<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeedbackMapper">
	<sql id="commonColumns">id,user_name,phone,user_email,context</sql>

	<resultMap type="Feedback" id="FeedbackResultMap">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="phone" property="phone"/>
		<result column="user_email" property="userEmail"/>
		<result column="context" property="context"/>
	</resultMap>
	
	<insert id="save" parameterType="PageData">
		insert into cr_feedback (
			user_name,
			phone,
			user_email,
			context
		) values (
			#{userName},
			#{phone},
			#{userEmail},
			#{context}
		)
	</insert>
	
</mapper>