<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileManagerMapper">
	<sql id="commonColumns">id,file_type,file_title,dowload_url</sql>
	
	<resultMap type="FileManager" id="FileResultMap">
		<id column="id" property="id"/>
		<result column="file_type" property="fileType"/>
		<result column="file_title" property="fileTitle"/>
		<result column="dowload_url" property="dowloadUrl"/>
	</resultMap>
	
	<!-- 根据id获取债权信息 -->
	<select id="findById" parameterType="PageData" resultType="Blog" useCache="false">
	   <include refid="commonColumns"></include>
		from cr_file_manager 
		where id = #{id}
	</select>
	
	
   <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_file_manager u
		where 1=1
		<if test="keyword != null and keyword != ''">
	  	and	CONCAT(IFNULL(u.login_name,''),IFNULL(u.name,'')) like #{keyword}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="PageData">
	   <include refid="commonColumns"></include>
		from cr_file_manager u
		where 1=1
		limit #{from},#{size}
	</select>
	
</mapper>