<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SampleMapper">
	<sql id="commonColumns">select id,sam_name,trade,amount,sam_type,sam_img,description,status </sql>

	<resultMap type="sample" id="sampleResultMap">
		<id column="id" property="id"/>
		<result column="sam_name" property="samName"/>
		<result column="trade" property="trade"/>
		<result column="amount" property="amount"/>
		<result column="sam_type" property="samType"/>
		<result column="sam_img" property="samImg"/>
		<result column="description" property="description"/>
		<result column="status" property="status"/>
	</resultMap>
	
	    <!-- 根据id获取信息 -->
	<select id="findById" parameterType="PageData" resultType="sample" useCache="false">
	   <include refid="commonColumns"></include>
		from cr_sample 
		where id = #{id}
	</select>
	
	
   <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_sample u
		where 1=1
		<if test="samType != null and samType != ''">
			and u.sam_type = #{samType}
		</if>
		<if test="keyword != null and keyword != ''">
	  		and	CONCAT(IFNULL(u.sam_name,''),IFNULL(u.trade,'')) like #{keyword}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="sample">
	   <include refid="commonColumns"></include>
		from cr_sample u
		where u.status = 1
		<if test="samType != null and samType != ''">
			and u.sam_type = #{samType}
		</if>
		<if test="keyword != null and keyword != ''">
	  		and	CONCAT(IFNULL(u.sam_name,''),IFNULL(u.trade,'')) like #{keyword}
		</if>
		order by u.id asc
		<if test="from != 0 and size != 0">
	  		limit #{from},#{size}
		</if>
		
	</select>
	<insert id="saveSampleInfo" parameterType="sample">
		insert into cr_sample (
			sam_name,
			trade,
			amount,
			sam_type,
			sam_img,
			description,
			status
		) values (
			#{samName},
			#{trade},
			#{amount},
			#{samType},
			#{samImg},
			#{description},
			#{status}
		)
	</insert>
	<update id="updateSample" parameterType="sample">
		update cr_sample set 
			sam_name = #{samName},
			trade = #{trade},
			amount = #{amount},
			sam_type = #{samType},
			sam_img = #{samImg},
			description = #{description},
			status = #{status}
		where id = #{id}
	</update>
	<update id="updateSampleStatus" parameterType="sample">
		update cr_sample set status = #{status} where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Integer">
		delete from cr_sample where id = #{id}
	</delete>
	
</mapper>